{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit A Cafe{% endblock %}
    {% block styles %}
      {{super()}}
      <link rel="stylesheet"
            href="{{url_for('.static', filename='css/styles.css')}}">
    {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Edit {{cafe.name}}</h1>
      <table class="table">
        <tr>
          <td>{{ headings[0] }}</td>
          <td>{{ cafe.name }}</td>
          <td rowspan="9"> {{ wtf.quick_form(form, novalidate=True) }} </td>
        </tr>
        <tr>
            <td>{{ headings[1] }}</td>
            <td><a href="{{ cafe.map_url }}">Maps Link</a></td>
          </tr>
          <tr>
            <td> {{ headings[2] }} </td>
            <td><img src="{{ cafe.img_url }}" width="50" height="50"></td>
          </tr>
          <tr>
            <td>{{ headings[3] }}</td>
            <td>{{ cafe.location }}</td>
          </tr>
          <tr>
            <td>{{ headings[4] }}</td>
            <td>{{ cafe.seats }}</td>
          </tr>
          <tr>
            <td>{{ headings[5] }}</td>
            <td>{{ cafe.has_toilet }}</td>
          </tr>
          <tr>
            <td>{{ headings[6] }}</td>
            <td>{{ cafe.has_wifi }}</td>
          </tr>
          <tr>
            <td>{{ headings[7] }}</td>
            <td>{{ cafe.has_sockets }}</td>
          </tr>
          <tr>
            <td>{{ headings[8] }}</td>
            <td>{{ cafe.can_take_calls }}</td>
          </tr>
          <tr>
            <td>{{ headings[9] }}</td>
            <td>{{ cafe.coffee_price }}</td>
          </tr>
      </table>
      <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>
    </div>
  </div>
</div>

{% endblock %}
